---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

// Sorting posts by date
posts.sort((a, b) =>
  new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey there!</h1>
			<p>
				Welcome to my film photography journey where every frame tells a story. I shoot and share these moments captured 
				on my Canon AE-1 Program 35mm SLR Camera.
			</p>
			<p>
				A mojority of my film is developed at my local camera store, SAMY's camera.
			</p>
			<section>
				<h2 class="text-2xl font-semibold mb-4">Recent Posts</h2>
				<ul class="space-y-4">
					{posts.map(post => (
						<li>
						  <a class="text-xl text-blue-600 hover:underline" href={`/blog/${post.id}`}>
							{post.data.title}
						  </a>
						  <p class="text-sm text-gray-500">{new Date(post.data.pubDate).toLocaleDateString()}</p>
						  <p class="text-gray-700">{post.data.description}</p>
						</li>
					  ))}
				</ul>
			  </section>

			<p>
				
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
